h1{
  margin: 24px auto;
  text-align: center;
  }
.filters {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}
.filter form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 150px;
}
.filter form button {
  width: 100%;
  border: none;
  background-color: cornflowerblue;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  transition: background 0.3s ease-in-out;
}
.filter form button:hover {
  background-color: rgb(54, 106, 202);
}
.cards {
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.card {
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 4px;
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}
.card p {
  font-size: 1.3rem;
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .filters {
    flex-direction: column;
  }
  .filter {
    width: 100%;
  }
  .filter form {
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}