h1 {
  margin: 24px auto;
  text-align: center;
}
.filters {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-bottom: 16px;
}
.filter-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.filter-row {
  display: flex;
  gap: 8px;
  align-items: center;
}
.filter-row input[type="month"] {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.filter-row button {
  border: none;
  background-color: cornflowerblue;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  white-space: nowrap;
}
.filter-row button:hover {
  background-color: rgb(54, 106, 202);
}
.cards {
  padding: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.card {
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 4px;
  transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}
.card p {
  font-size: 1.3rem;
}
.charts {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.pieChart {
  width: 33%;
}
#itemChart {
  display: block;
  box-sizing: border-box;
  width: 164.6px;
  height: 164.6px;
}
.barChart {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
#barChart {
  display: block;
  box-sizing: border-box;
  height: 167.1px;
  width: 334.3px;
}
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .filters {
    flex-direction: column;
  }
  .filter {
    width: 100%;
  }
  .filter form {
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr;
  }
}
