{%extends "index.html"%}

{%block title%}
    Categories
{%endblock%}

{%block body%}
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <h1>Categories</h1>
        <div class="container-fluid">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/transactions">Transactions</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Add New Categories</h2>

        <!-- Transaction Form -->
        <form method="POST" action="/categories">
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category" name="name">
            </div>

            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>

        <hr class="my-5">

        <!-- Transaction List -->
        <h2 class="mb-4">Your Categories</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for c in categories %}
                <tr>
                    <td>{{ c.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{%endblock%}