{%extends "index.html"%}

{%block title%} Category {%endblock%}

{%block header%} Edit Category {%endblock%}

{%block body%}


    <div class="container mt-5">
        <h2 class="mb-4">Edit Category</h2>

        <!-- Transaction Form -->
        <form method="POST" action="{{ url_for('main.category_edit', id=category.id) }}">
            <input type="hidden" name="_method" value="PUT">

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="category_id" title="category" id="category_id" class="form-select" required>
                    {% for cat in categories %}
                        <option
                            value="{{ cat.id }}"
                            data-price="{{ cat.price }}"
                            {% if cat.id == category.id %} selected {% endif %}
                        >
                            {{ cat.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>

            <!-- Buttons -->
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success">
                    Update
                </button>

                <a href="{{ url_for('main.category_details') }}"
                class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>

{%endblock%}