{%extends "index.html"%} 

{%block title%} Dashboard {%endblock%} 

{%block header%} Dashboard {%endblock%}

{%block body%}

    <div class="container">
        <header>
        </header>

        <!-- Filters -->
        <div class="filters">
            <div class="filter">
                <form method="get" class="filter-form">
                    <label for="month">Select Month</label>
                    <div class="filter-row">
                        <input type="month" name="month" id="month" 
                                value="{{ request.args.get('month', '') }}">
                        <button type="submit">Filter</button>
                    </div>
                </form>
            </div>
            
            <div class="filter">
                <form method="get" class="filter-form">
                    <label for="type">Select Type</label>
                    <div class="filter-row">
                        <select class="form-select" name="type" id="type" >
                            <option value="both" {{'selected' if request.args.get('type', 'both')}}>Expenses</option>
                            <option value="{{ expenses }}">Expenses</option>
                            <option value="{{ income }}">Income</option>
                        </select>
                        <button type="submit">Filter</button>
                    </div>
                </form>
            </div>
        </div>
        
        
        <!-- Summary Cards -->
        <div class="cards">
            <div class="card">
                <h3>Total Income</h3>
                <p>{{ income }}$</p>
            </div>
        
            <div class="card">
                    <h3>Total Expenses</h3>
                <p>{{ expenses }}$</p>
            </div>
        
            <div class="card">
                <h3>Balance</h3>
                <p>{{ balance }}$</p>
            </div>
        </div>
        
        <!-- Charts -->
        <div class="charts">
            <div class="pieChart">
                <h3 style="text-align: center;">Pie Chart</h3>
                <canvas id="pieChart"></canvas>
            </div>
        
            <div class="barChart">
                <h3 style="text-align: center;">Bar Chart</h3>
                <canvas id="barChart"></canvas>
            </div>
        </div>
        <div 
            id="chart-data"
            data-labels='{{ labels | tojson }}'
            data-values='{{ values | tojson }}'
            data-income='{{ income }}'
            data-expenses='{{ expenses }}'>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='js/charts.js')}}"></script>
{%endblock%}
