{%extends "index.html"%} 

{%block title%} 
    Dashboard 
{%endblock%} 

{%block body%}

    <div class="container">
        <header>
            <h1>Dashboard</h1>
            <a href="{{url_for('main.transaction_details')}}" class="btn btn-primary">Transactions</a>
            <a href="{{url_for('main.category_details')}}" class="btn btn-primary">Categories</a>
        </header>

    <!-- Filters -->
    <div class="filters">
        <div class="filter">
        <form method="get">
            <label for="month">Select Month</label> 
            <input type="month" name="month" id="month" value="{{ request.args.get('month', '') }}">
            <button type="submit">Filter</button>
        </form>
        </div>
    </div>

    <!-- Summary Cards -->
    <div class="cards">
        <div class="card">
        <h3>Total Income</h3>
        <p>{{ income }}$</p>
        </div>

        <div class="card">
        <h3>Total Expenses</h3>
        <p>{{ expenses }}$</p>
        </div>

        <div class="card">
        <h3>Balance</h3>
        <p>{{ balance }}$</p>
        </div>
    </div>

    <!-- Charts -->
    <div class="charts">
        <div>
        <h3>Expenses by Category</h3>
        <canvas id="categoryChart"></canvas>
        </div>

        <div>
        <h3>Income vs Expenses</h3>
        <canvas id="barChart"></canvas>
        </div>
    </div>
    </div>

{%endblock%}
